.badge {
	box-sizing: border-box;
	background-color: var(--badge-bg-color, var(--color-neutral-700));
	color: var(--badge-color, var(--color-neutral-50));
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: var(--leading-none);
	font-size: var(--badge-text-size, var(--text-xs));
	font-weight: var(--font-weight-medium);
	border-radius: var(--badge-radius, var(--radius-none));
	height: calc(var(--badge-size, var(--size-5)));
	padding-inline: calc(var(--badge-size, var(--size-5)) / 3);

	&[data-intent='success'] {
		--badge-color: var(--color-white);
		--badge-bg-color: var(--color-green-500);
	}

	&[data-intent='info'] {
		--badge-bg-color: var(--color-cyan-700);
		--badge-color: var(--color-white);
	}

	&[data-intent='success'] {
		--badge-bg-color: var(--color-success);
		--badge-color: var(--color-white);
	}

	&[data-intent='error'] {
		--badge-bg-color: var(--color-error);
		--badge-color: var(--color-white);
	}

	&[data-intent='warning'] {
		--badge-bg-color: var(--color-warning);
		--badge-color: var(--color-neutral-900);
	}

	&[data-shape='rounded'] {
		--badge-radius: var(--radius-md);
	}

	&[data-shape='circle'] {
		--badge-radius: var(--radius-full);
		aspect-ratio: 1;
	}

	&[data-size='sm'] {
		--badge-size: var(--size-4);
		--badge-text-size: var(--text-2xs);
	}

	&[data-size='lg'] {
		--badge-size: var(--size-6);
		--badge-text-size: var(--text-sm);
	}
}
