.grid {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: var(--grid-cols, var(--grid-cols-default));
	grid-template-rows: var(--grid-rows, var(--grid-rows-default));
	gap: var(--grid-gap, var(--grid-gap-default, var(--size-6)));

	@media (--media-sm) {
		& {
			--grid-cols: var(--grid-cols-sm);
			--grid-rows: var(--grid-rows-sm);
			--grid-gap: var(--grid-gap-sm);
		}
	}

	@media (--media-md) {
		& {
			--grid-cols: var(--grid-cols-md);
			--grid-rows: var(--grid-rows-md);
			--grid-gap: var(--grid-gap-md);
		}
	}

	@media (--media-lg) {
		& {
			--grid-cols: var(--grid-cols-lg);
			--grid-rows: var(--grid-rows-lg);
			--grid-gap: var(--grid-gap-lg);
		}
	}

	@media (--media-xl) {
		& {
			--grid-col-xl: var(--grid-cols-xl);
			--grid-rows: var(--grid-rows-xl);
			--grid-gap: var(--grid-gap-xl);
		}
	}
}
