.heading {
	font-size: var(--heading-text-size);
	font-weight: var(--heading-font-weight, var(--font-weight-semibold));
	line-height: var(--heading-tracking, var(--leading-tight));
	letter-spacing: var(--heading-tracking, var(--tracking-tight));
	text-align: var(--heading-text-align);
	margin: 0;
	text-wrap: balance;

	&[data-level='1'] {
		font-size: var(--heading-text-size, var(--text-5xl));
	}

	&[data-level='2'] {
		font-size: var(--heading-text-size, var(--text-4xl));
	}

	&[data-level='3'] {
		font-size: var(--heading-text-size, var(--text-3xl));
	}

	&[data-level='4'] {
		font-size: var(--heading-text-size, var(--text-2xl));
	}

	&[data-level='5'] {
		font-size: var(--heading-text-size, var(--text-md));
	}
	&[data-level='6'] {
		font-size: var(--heading-text-size, var(--text-sm));
	}
}
