:root {
	--space-1: var(--size-0-5);
	--space-2: var(--size-1);
	--space-3: var(--size-1-5);
	--space-4: var(--size-2);
	--space-5: var(--size-2-5);
	--space-6: var(--size-3);
	--space-8: var(--size-4);
	--space-10: var(--size-5);
	--space-12: var(--size-6);
	--space-14: var(--size-7);
	--space-16: var(--size-8);
	--space-18: var(--size-9);
	--space-20: var(--size-10);
	--space-30: var(--size-15);
	--space-40: var(--size-20);
}
@media (--media-md) {
	:root {
		--space-1: var(--size-1);
		--space-2: var(--size-2);
		--space-3: var(--size-3);
		--space-4: var(--size-4);
		--space-5: var(--size-5);
		--space-6: var(--size-6);
		--space-8: var(--size-8);
		--space-10: var(--size-10);
		--space-12: var(--size-12);
		--space-14: var(--size-14);
		--space-16: var(--size-16);
		--space-18: var(--size-18);
		--space-20: var(--size-20);
		--space-30: var(--size-30);
		--space-40: var(--size-40);
	}
}
