@import 'trusty-css/dist/index.css';

:root {
	--body-text-color: var(--color-black);
	--font-sans: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	font-family: var(--font-sans);
	color: var(--body-text-color);
}
