.avatar {
	position: relative;
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: var(--avatar-bg-color, var(--color-neutral-100));
	color: var(--avatar-color, var(--color-neutral-900));
	height: var(--avatar-size, var(--size-8));
	width: var(--avatar-size, var(--size-8));
	aspect-ratio: 1;
	font-size: var(--avatar-text-size, var(--text-md));
	box-shadow: var(--accordion-shadow, var(--shadow-none));
	font-weight: var(--font-weight-bold);
	overflow: hidden;

	&[data-shape='rounded'] {
		border-radius: var(--radius-md);
	}

	&[data-shape='circle'] {
		border-radius: var(--radius-full);
	}

	&[data-size='sm'] {
		--avatar-size: var(--size-6);
		--avatar-text-size: var(--text-2xs);
	}

	&[data-size='lg'] {
		--avatar-size: var(--size-10);
		--avatar-text-size: var(--text-lg);
	}

	&[data-size='xl'] {
		--avatar-size: var(--size-12);
		--avatar-text-size: var(--text-xl);
	}
}
