.image {
	--image-radius: inherit;

	position: relative;

	img {
		display: block;
		border-radius: var(--image-radius);
		border-style: none;
		aspect-ratio: var(--image-aspect-ratio, var(--aspect-auto));
	}
	&[data-aspect-ratio='square'] > img {
		--image-aspect-ratio: var(--aspect-square);
	}
	&[data-aspect-ratio='video'] > img {
		--image-aspect-ratio: var(--aspect-video);
	}

	&[data-fill='true'] > img {
		width: 100%;
	}

	&[data-cover='true'] > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
