.accordion {
	display: grid;
	gap: var(--accordion-gap, var(--size-1));

	.accordion-container {
		display: grid;
	}
	.accordion-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: var(--accordion-gap, var(--size-1));
		padding: var(--accordion-spacing, var(--size-1-5));
		background-color: var(--accordion-bg-color, inherit);
		border: 1px solid var(--accordion-border-color, var(--color-neutral-200));
		border-radius: var(--accordion-radius, var(--radius-sm));
		cursor: pointer;

		.accordion-intro-start & {
			border-bottom-left-radius: var(--border-radius-none);
			border-bottom-right-radius: var(--border-radius-none);
			transition: border-radius var(--duration-normal) var(--ease-out);
		}

		.accordion-outro-end & {
			border-bottom-left-radius: var(--accordion-radius, var(--radius-sm));
			border-bottom-right-radius: var(--accordion-radius, var(--radius-sm));
			transition: border-radius var(--duration-long) var(--ease-in);
		}
	}

	.accordion-text {
		color: var(--accordion-color, inherit);
		font-size: var(--accordion-text-size, inherit);
		font-weight: var(--font-weight-bold);
	}
	.accordion-text {
		color: var(--accordion-color, inherit);
		font-size: var(--accordion-text-size, inherit);

		svg {
			flex: 1;
			display: flex;
			justify-content: flex-end;
		}
	}

	.accordion-details {
		box-shadow: var(--accordion-shadow, var(--shadow-md));
		padding: var(--accordion-spacing, var(--size-3));
		border: solid var(--accordion-border-color, var(--color-neutral-200));
		color: var(--accordion-color, inherit);
		background-color: var(--accordion-bg-color, inherit);
		border-width: 0 1px 1px 1px;
		border-bottom-left-radius: var(--accordion-radius, var(--radius-sm));
		border-bottom-right-radius: var(--accordion-radius, var(--radius-sm));
		font-size: var(--accordion-text-size, inherit);
	}
}
